<header>
    Page Header

    <ul>
        <% if (locals.user){ %>
            <li>
                <a href="/user/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/user/logout">Logout</a>
            </li>
        <% }else{ %>

            <li>
                <a href="/user/login">Sign In</a>
            </li>

            <li>
                <a href="/user/signup">Sign Up</a>
            </li>


        <% } %>
    </ul>

</header>